* {
    transition: all .1s ease-in;
}

.wrapper {
    margin: 0 auto;
    width: 1240px;
    height: 808px;
    background-color: #3B3F45;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 114px;
    color: #EB7E7F;
    background-color: #4A4F56;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
}

.title {
    margin: 0 auto;
}

.wrapper_list {
    margin: 42px auto;
    color: #fff;
    display: flex;
    justify-content: center;
    justify-items: center;
}

input {
    margin-top: 25px;
    position: absolute;
    z-index: 1;
}

li {
    list-style-type: none;
    font-size: 20px;
    box-sizing: border-box;
    height: 65px;
    width: 800px;
}

li:nth-child(even) {
    background-color: #7A7593;
}

li:nth-child(odd) {
    background-color: #88839E;
}

input:checked+label {
    text-decoration: line-through;
}

.wrapper_list li {
    position: relative;
}

.wrapper_list label {
    position: absolute;
    inset: 0;
    line-height: 3;
    padding-left: 34px;
}

label:hover {
    background-color: #625E77;
    border-top: solid 5px #fff;
    border-bottom: solid 5px #fff;
}

input:checked+label {
    color: #A3A0B4;
}

input[type="checkbox"] {
    display: none;
}

label:before {
    content: " ";
    font-weight: 900;
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 23px;
    height: 23px;
    background: #FFF;
    border: 1px solid #A7A7A7;
    vertical-align: middle;
}

input:disabled+label:before {
    background: #424242;
    color: #424242;
}

input:checked+label:before {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
    color: #424242;
}

.footer {
    margin: auto;
    text-align: center;
    width: 800px;
    background-color: #4A4F56;
}